@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body{
    font-size: 18px;
    font-family: Arial, Verdana, Tahoma;
    
}

div#interface{
    width: 1300px;
    margin: 0 auto;
}

header{
    
    height: 60px;
    padding: 10px;
    background-color: #253526;    
}

.logo{
    float: left;
}

.logo img{
    width: 60px;
    vertical-align: middle;
}

.social{
    float: right;
    padding-top: 15px;
    padding-right: 10px;
}

.social img{
    width: 24px;
    
}

.titulo1{
    /*margin: 50px 150px;*/
    color: #fff;
    margin: 0px;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-style: italic;
}

.menu{
    
    background-color: rgba(65, 65, 65);
    height: 40px;
}

.menu ul{
    
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 10px 0px 0px;
    
}

.menu ul li{
    display: inline;
    
}

.menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0px 10px;
    
    padding: 5px 15px;
}

.menu a:hover{
    background-color: rgb(255, 193, 7);
    color: rgb(0, 0, 0);

    
}

.banner{
    background-image: url(../imagens/banner.jpg);
    height: 500px;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-position: center;

}

.banner p{
    text-align: center;
    margin: 0;
    padding-top: 175px;
    font-size: 75px;
    font-weight: bold;
    
}